{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container d-lg-none">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock%}

{% block content %}
<!-- Hero video -->
<div class="video-container">
    <div class="overlay"></div>

    <!-- The HTML5 video element that will create the background video on the header -->
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source
            src="https://tubularretro.s3.eu-west-1.amazonaws.com/media/6827347-uhd_2560_1440_25fps.mp4"
            type="video/mp4">
    </video>

    <!-- The header content -->
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="pb-3">This is where your retro dreams come true.</h1>
                <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 py-3">Start
                    exploring</a>
            </div>
        </div>
    </div>
</div>
<!-- Categories -->
<div id="category-container" class="product-container col-12 pb-5">
    <h3 class="text-center pt-5 pb-3">Shop by category</h3>
    <div class="row justify-content-center">
        {% for category in categories %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-3">
            <div class="card h-100 border-0">
                {% if category.image %}
                <a href="{% url 'products' %}?category={{ category.name }}"><img
                        class="card-img-top product-img img-fluid" src="{{ category.image.url }}"
                        alt="{{ category.name }}">
                </a>
                {% else %}
                <a href="{% url 'products' %}?category={{ category.name }}"><img
                        class="card-img-top product-img img-fluid" src="{{ MEDIA_URL }}noimage.jpg"
                        alt="{{ category.name }}">
                </a>
                {% endif %}
                <div class="card-body pb-0">
                    <a href="{% url 'products' %}?category={{ category.name }}">
                        <h4 class="mb-0 product-link pb-3 secondary">{{ category.name }}</h4>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- MailChimp signup form -->
<div class="newsletter-container py-2">
    <div class="mb-2" id="mc_embed_shell">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
        <div id="mc_embed_signup">
            <form
                action="https://herokuapp.us21.list-manage.com/subscribe/post?u=a1796e3c39c33f280fa270937&amp;id=463140cd29&amp;f_id=00ead5e6f0"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank">
                <div id="mc_embed_signup_scroll">
                    <h2>Sign up to our newsletter</h2>
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email"
                            id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT"
                            class="helper_text"></span>
                    </div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        /* real people should not fill this in and expect good things - do not remove this or risk form
                        bot
                        signups */
                        <input type="text" name="b_a1796e3c39c33f280fa270937_463140cd29" tabindex="-1" value="">
                    </div>
                    <div class="optionalParent">
                        <div class="clear foot">
                            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                                value="Subscribe">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
        <script>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
    </div>
</div>

{% endblock %}
