<div class="collapse navbar-collapse" id="mobile-nav">
    <ul class="d-lg-none navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}"
                id="all-products-link" aria-haspopup="true" aria-expanded="false">
                Shop all
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop by category
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=Decor" class="dropdown-item">Decor</a>
                <a href="{% url 'products' %}?category=Electronics" class="dropdown-item">Electronics</a>
                <a href="{% url 'products' %}?category=Furniture" class="dropdown-item">Furniture</a>
                <a href="{% url 'products' %}?category=Kitchenware" class="dropdown-item">Kitchenware</a>
                <a href="{% url 'products' %}?category=Lighting" class="dropdown-item">Lighting</a>
                <a href="{% url 'products' %}?category=Uncategorized" class="dropdown-item">Uncategorized</a>
            </div>
        </li>
    </ul>
</div>