{% extends "base.html" %}

{% block content %}

<div class="container header-container">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-6">
            <div class="col-12 col-md-6">
                <div class="error-page-inner-content">
                    <img class="mb-3" src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMGNpcTJjYW1oaG15MGpndTFnbDhodTFkdXRxNTF6ZGlucmY2ZXVuciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/6oOhZnoXQRg69dC1AI/giphy.gif" alt="">
                    <h4>404</h4>
                    <p>We're not sure what you were looking for, but we can't find it.</p>
                    <a href="{% url 'home' %}">Go back home</a>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}