{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock%}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid products-container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-front">Products</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if product.image_1 %}
                        <a href=""><img class="card-img-top img-fluid" src="{{ product.image_1_url }}"
                                alt="{{ product.title }}">
                        </a>
                        {% else %}
                        <a href=""><img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg"
                                alt="{{ product.title }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ product.title }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">{{product.price}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}