{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock%}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid products-container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-front">Products</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2 text-center"><i class="fas fa-sort"></i>
                <div class="btn-group ps-4">
                    <a href="{% url 'products' %}?sort=price&direction=asc" class="btn btn-primary active"
                        aria-current="page">Price</a>
                    <a href="{% url 'products' %}?sort=category&direction=asc" class="btn btn-primary">Category</a>
                    <a href="{% url 'products' %}?sort=date_added&direction=desc" class="btn btn-primary">Date</a>
                </div>
            </div>
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if product.image_1 %}
                        <a href="{% url 'product_detail' product.id %}"><img class="card-img-top img-fluid"
                                src="{{ product.image_1_url }}" alt="{{ product.title }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}"><img class="card-img-top img-fluid"
                                src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.title }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <a href="{% url 'product_detail' product.id %}">
                                <h4 class="mb-0">{{ product.title }}<h4>
                            </a>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">{{product.price}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}